<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>GreenBelt Bonus System</title>
</head>
<link rel="stylesheet" href="static/bootstrap.min.css">
<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>

<body>
<nav class="navbar-inverse navbar-fixed-top" style="background-color: #1fa67a">
    <div class="container">
        <nav class="navbar-header" style="background-size: 200%">
            <a class="navbar-brand" type="submit" href="#" style="color: white;">GreenBelt Bonus System</a>
            <form class="navbar-form navbar-right">
                <a class="btn btn-warning" type="submit" href="{{ url_for('about') }}">About</a>
            </form>
        </nav>
    </div>
</nav>

<div class="container" style="margin-top: 80px;">
<div class="row">
    <div class="col-sm-6 col-md4 col-lg-3">
        <div class="thumbnail">
            <a href="{{ url_for('customer') }}"><img src="static/coin_3d.gif" width="300" height="300"></img></a>

            <div class="caption">
                <p>Search Bonus Information of Your Own?</p>
                <hr>
                <a class="btn btn-success" href="{{ url_for('customer') }}">Go!</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md4 col-lg-3">
        <div class="thumbnail">
            <a href="{{ url_for('login') }}"><img src="static/upload.jpg" width="300" height="300"></img></a>

            <div class="caption">
                <p>An Administrator?Need To Upload Data?</p>
                <hr>
                <a class="btn btn-success" href="{{ url_for('login') }}">Log In</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md4 col-lg-3">
        <div class="thumbnail">
            <a href="{{ url_for('report') }}"><img src="static/marquee.jpg" width="300" height="300"></img></a>

            <div class="caption">
                <p>Trying to collect Monthly report data?Or anytime</p>
                <hr>
                <a class="btn btn-success" href="{{ url_for('report') }}">Log In</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md4 col-lg-3">
        <div class="thumbnail">
            <a href="#"><img src="static/boss.jpg" width="300" height="300"></img></a>

            <div class="caption">
                <p>I'm a BOSS,I need to Know What are You Fucking Doing </p>
                <hr>
                <a class="btn btn-warning" href="">Who cares?</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md4 col-lg-3">
        <div class="thumbnail">
            <a href="#"><img src="static/github.png" width="300" height="300"></img></a>

            <div class="caption">
                <p>May you Share your website?</p>
                <hr>
                <a class="btn btn-warning" href="">Fork me</a>
            </div>
        </div>
    </div>

</div>

<div>
   <div class="container">
       <hr>
       <p style="color: #8c8c8c;font-size: 9px">ALL RIGHTS &COPY; 2016 SHELDON CHEN</p>
   </div>
</div>

</div>

</body>
</html>