<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>Log In</title>
</head>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<script src="../static/jquery.min.js"></script>
<script src="../static/bootstrap.min.js"></script>

<body background="../static/index-background/bg.png">
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1fa67a;border: none">
    <div class="container">
        <div class="navbar-header" style="background-size: 200%">
            <a class="navbar-brand" type="submit" href="{{ url_for('about') }}" style="color: white">GreenBelt Bonus System</a>
            <form class="navbar-form navbar-right">
                <a class="btn btn-warning" type="submit" href="../index">Return</a>
            </form>
        </div>
    </div>
</nav>

<div class="container well" style="margin-top: 80px;">
    <form role="form" action="" method="post" class="form-horizontal">
        <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">
         <div class="form-group">
            <label for="usr" class="control-label col-sm-2">User Name</label>
             <div class="col-sm-2">
                 <input type="text" required="required" name="usr" class="form-control" placeholder="enter user name">
             </div>
         </div>

        <div class="form-group">
            <label for="psw" class="control-label col-sm-2">Password</label>
            <div class="col-sm-2">
                <input type="password" required="required" name="pwd" class="form-control" placeholder="enter password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2" style="color: red">
                {% for messages in get_flashed_messages() %}
                {{ messages }}
                {% endfor %}
            </div>
            <div class="col-sm-2"><input type="submit" value="Login" lass="btn btn-default"></div>
            <input type="hidden" value="{{ next or '' }}" name="next">
        </div>
    </form>
</div>


<nav class="navbar-fixed-bottom">
    <div class="container-fluid">
        <p style="font-size: 9px;color: #adadad">ALL RIGHTS RESERVED &copy; 2016 SHELDON CHEN</p>
    </div>
</nav>
</body>
</body>
</html>