<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>Rules Editor</title>
</head>
<link rel="stylesheet" href="static/bootstrap.min.css">
<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>

<body>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #27AE60">
    <a href="" style="color: white;font-size:18px;padding: 14px" class="btn btn-disabled disabled">Rules Editor</a>||
    <a href="{{ url_for('index') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Home</a>|
    <a href="{{ url_for('admin') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Admin Panel</a>|
    <a href="{{ url_for('report') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Report System</a>
</nav>

<div style="margin-top: 80px">
<form action="" method="post">
    <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">

    <div class="container-fluid">
        <div class="form-group">
        <div><p>golden type rules</p></div>

        <div class="row col-sm-2">
            <div class="input-group">
            <span class="input-group-addon">S1</span>
            <input type="text" name="s_s" class="form-control" value="{{ data.s1.value }}"
                   placeholder="{{ data.s1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
         <div class="input-group">
            <span class="input-group-addon">P1</span>
            <input type="text" name="s_p" class="form-control" value="{{ data.p1.value }}"
                   placeholder="{{ data.p1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">K1</span>
            <input type="text" name="s_k" class="form-control" value="{{ data.k1.value }}"
                   placeholder="{{ data.k1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
         <div class="input-group">
            <span class="input-group-addon">G1</span>
            <input type="text" name="s_g1" class="form-control" value="{{ data.g1.value }}"
                   placeholder="{{ data.g1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">G2</span>
            <input type="text" name="s_g2" class="form-control" value="{{ data.g2.value }}"
                   placeholder="{{ data.g2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">G3</span>
            <input type="text" name="s_g3" class="form-control" value="{{ data.g3.value }}"
                   placeholder="{{ data.g3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">B1</span>
            <input type="text" name="s_b1" class="form-control" value="{{ data.b1.value }}"
                   placeholder="{{ data.b1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">B2</span>
            <input type="text" name="s_b2" class="form-control" value="{{ data.b2.value }}"
                   placeholder="{{ data.b2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-sm-2">
        <div class="input-group">
            <span class="input-group-addon">B3</span>
            <input type="text" name="s_b3" class="form-control" value="{{ data.b3.value }}"
                   placeholder="{{ data.b3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>

         </div>
    </div>

    <div class="form-group" style="margin-top: 30px">
    <div class="container-fluid">
        <div><p>project rules and distribution</p></div>
        <div class="input-group">
            <span class="input-group-addon">S</span>
            <div class="row col-sm-2">
                <input type="text" name="p_s" class="form-control" value="{{ data.s.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="ini_s" class="form-control" value="{{ data.s.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="lea_s" class="form-control" value="{{ data.s.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="maj_s" class="form-control" value="{{ data.s.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="min_s" class="form-control" value="{{ data.s.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">P</span>
            <div class="row col-sm-2">
                <input type="text" name="p_p" class="form-control" value="{{ data.p.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="ini_p" class="form-control" value="{{ data.p.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="lea_p" class="form-control" value="{{ data.p.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="maj_p" class="form-control" value="{{ data.p.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="min_p" class="form-control" value="{{ data.p.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">K</span>
            <div class="row col-sm-2">
                <input type="text" name="p_k" class="form-control" value="{{ data.k.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="ini_k" class="form-control" value="{{ data.k.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="lea_k" class="form-control" value="{{ data.k.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="maj_k" class="form-control" value="{{ data.k.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="min_k" class="form-control" value="{{ data.k.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">G</span>
            <div class="row col-sm-2">
                <input type="text" name="p_g" class="form-control" value="{{ data.g.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="ini_g" class="form-control" value="{{ data.g.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="lea_g" class="form-control" value="{{ data.g.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="maj_g" class="form-control" value="{{ data.g.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="min_g" class="form-control" value="{{ data.g.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">B</span>
            <div class="row col-sm-2">
                <input type="text" name="p_b" class="form-control" value="{{ data.b.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="ini_b" class="form-control" value="{{ data.b.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="lea_b" class="form-control" value="{{ data.b.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="maj_b" class="form-control" value="{{ data.b.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-sm-2">
                <input type="text" name="min_b" class="form-control" value="{{ data.b.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group" style="margin-top: 20px"><input class="btn btn-success" type="submit"></div>
    </div>
    </div>
</form>
</div>
</body>
</html>