<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>Rules Editor</title>
</head>
<link rel="stylesheet" href="static/bootstrap.min.css">
<script src="static/jquery.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<style type="text/css">
    table caption{color:#46b8da;text-align:center;font-size: 18px;font-family:fantasy}
    table tr{text-align: center;vertical-align: middle}
    table input {text-align: center;marker: auto auto;}
</style>

<body>
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #27AE60">
    <a href="" style="color: white;font-size:18px;padding: 14px" class="btn btn-disabled disabled">Rules Editor</a>||
    <a href="{{ url_for('index') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Home</a>|
    <a href="{{ url_for('admin') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Admin Panel</a>|
    <a href="{{ url_for('report') }}" style="color: white;font-size:16px;padding: 14px" class="btn">Report System</a>
</nav>
<!--test-->
<div class="container" style="margin-top: 80px">
    <form action="" method="post">
        <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">
        <!--Golden Idea Point Standard-->
        <table class="table table-bordered">
            <caption>Golden Idea Point Standard</caption>
            <tbody>
            <tr>
                <td>NO.</td>
                <td>Item</td>
                <td>Description</td>
                <td>Golden Idea Score</td>
            </tr>
            <tr>
                <td rowspan="3">1</td>
                <td rowspan="3">Duplicability</td>
                <td>>2 workshop</td>
                <td>
                    <input type="text" class="form-control" required="required"
                           value="{{ data.duplicability.level3 }}" placeholder="{{ data.duplicability.level3 }}"
                           name="duplicability_level_3">
                </td>
            </tr>
            <tr>
                <td>1~2 workshop</td>
                <td>
                    <input type="text" name="duplicability_level_2"
                           required="required"
                           placeholder="{{ data.duplicability.level2 }}" value="{{ data.duplicability.level2 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td>Only Own Dept.</td>
                <td>
                    <input type="text" name="duplicability_level_1"
                           required="required"
                           placeholder="{{ data.duplicability.level1 }}" value="{{ data.duplicability.level1 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td rowspan="3">2</td>
                <td rowspan="3">Resource Usage</td>
                <td>External Resource of Company Usage</td>
                <td>
                    <input type="text" class="form-control" required="required"
                           value="{{ data.resource_usage.level3 }}" placeholder="{{ data.resource_usage.level3 }}"
                           name="resource_usage_level_3">
                </td>
            </tr>
            <tr>
                <td>Internal Resource of Company Usage</td>
                <td>
                    <input type="text" name="resource_usage_level_2"
                           required="required"
                           placeholder="{{ data.resource_usage.level2 }}" value="{{ data.resource_usage.level2 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td>Only Own Dept. Resource Usage)</td>
                <td>
                    <input type="text" name="resource_usage_level_1"
                           required="required"
                           placeholder="{{ data.resource_usage.level1 }}" value="{{ data.resource_usage.level1 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td rowspan="3">3</td>
                <td rowspan="3">Implement Period</td>
                <td>< 1 Month</td>
                <td>
                    <input type="text" class="form-control" required="required"
                           value="{{ data.implement_period.level3 }}" placeholder="{{ data.implement_period.level3 }}"
                           name="implement_period_level_3">
                </td>
            </tr>
            <tr>
                <td>1~3 Month</td>
                <td>
                    <input type="text" name="implement_period_level_2" required="required"
                           placeholder="{{ data.implement_period.level2 }}" value="{{ data.implement_period.level2 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td>> 3 Month</td>
                <td>
                    <input type="text" name="implement_period_level_1"
                           required="required"
                           placeholder="{{ data.implement_period.level1 }}" value="{{ data.implement_period.level1 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td rowspan="3">4</td>
                <td rowspan="3">KPI Impact(S,Q,C,D,M)</td>
                <td>>= 3 Items</td>
                <td>
                    <input type="text" class="form-control" required="required"
                           value="{{ data.kpi_impact.level3 }}" placeholder="{{ data.kpi_impact.level3 }}" name="kpi_level_3">
                </td>
            </tr>
            <tr>
                <td>2 Items</td>
                <td>
                    <input type="text" name="kpi_level_2" required="required"
                           placeholder="{{ data.kpi_impact.level2 }}" value="{{ data.kpi_impact.level2 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td>Only 1 item</td>
                <td>
                    <input type="text" name="kpi_level_1"
                           required="required"
                           placeholder="{{ data.kpi_impact.level1 }}" value="{{ data.kpi_impact.level1 }}"
                           class="form-control">
                </td>
            </tr>
            <tr>
                <td rowspan="9">Total Golden idea point</td>
                <td rowspan="9">suggestion level</td>
                <td>S1</td>
                <td>
                    <input type="text" class="form-control" name="s1_range" required="required" pattern="[0-9(),]"
                           value="{{ data.s1_range }}" placeholder="{{ data.s1_range }}">
                </td>
            </tr>
            <tr>
                <td>P1</td>
                <td>
                    <input type="text" class="form-control" name="p1_range" required="required" pattern="[0-9(),]"
                           value="{{ data.p1_range }}" placeholder="{{ data.p1_range }}">
                </td>
            </tr>
            <tr>
                <td>K1</td>
                <td>
                    <input type="text" class="form-control" name="k1_range" required="required" pattern="[0-9(),]"
                           value="{{ data.k1_range }}" placeholder="{{ data.k1_range }}">
                </td>
            </tr>
            <tr>
                <td>G1</td>
                <td>
                    <input type="text" class="form-control" name="g1_range" required="required" pattern="[0-9(),]"
                           value="{{ data.g1_range }}" placeholder="{{ data.g1_range }}">
                </td>
            </tr>
            <tr>
                <td>G2</td>
                <td>
                    <input type="text" class="form-control" name="g2_range" required="required" pattern="[0-9(),]"
                           value="{{ data.g2_range }}" placeholder="{{ data.g2_range }}">
                </td>
            </tr>
            <tr>
                <td>G3</td>
                <td>
                    <input type="text" class="form-control" name="g3_range" required="required" pattern="[0-9(),]"
                           value="{{ data.g3_range }}" placeholder="{{ data.g3_range }}">
                </td>
            </tr>
            <tr>
                <td>B1</td>
                <td>
                    <input type="text" class="form-control" name="b1_range" required="required" pattern="[0-9(),]"
                           value="{{ data.b1_range }}" placeholder="{{ data.b1_range }}">
                </td>
            </tr>
            <tr>
                <td>B2</td>
                <td>
                    <input type="text" class="form-control" name="b2_range" required="required" pattern="[0-9(),]"
                           value="{{ data.b2_range }}" placeholder="{{ data.b2_range }}">
                </td>
            </tr>
            <tr>
                <td>B3</td>
                <td>
                    <input type="text" class="form-control" name="b3_range" required="required" pattern="[0-9(),]"
                           value="{{ data.b3_range }}" placeholder="{{ data.b3_range }}">
                </td>
            </tr>
            </tbody>
        </table>
        <!--golden type table-->
        <table class="table table-bordered">
            <caption>CIS Golden Idea Score Award Criteria</caption>
            <tbody>
                <tr>
                    <td>Suggestion Level</td>
                    <td>Model Application</td>
                    <td>Golden Idea Score</td>
                </tr>
                <tr>
                    <td>S1</td>
                    <td rowspan="3">Lean Model</td>
                    <td>
                        <div>
                            <input type="text" name="s_s" class="form-control" value="{{ data.s1.value }}"
                                   placeholder="{{ data.s1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>P1</td>
                    <td>
                        <div>
                            <input type="text" name="s_p" class="form-control" value="{{ data.p1.value }}"
                                   placeholder="{{ data.p1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>K1</td>
                    <td>
                        <div>
                            <input type="text" name="s_k" class="form-control" value="{{ data.k1.value }}"
                                   placeholder="{{ data.k1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>G1</td>
                    <td rowspan="6">6Sigma Model</td>
                    <td>
                        <div>
                            <input type="text" name="s_g1" class="form-control" value="{{ data.g1.value }}"
                                   placeholder="{{ data.g1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>G2</td>
                    <td>
                        <div>
                            <input type="text" name="s_g2" class="form-control" value="{{ data.g2.value }}"
                                   placeholder="{{ data.g2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>G3</td>
                    <td>
                        <div>
                            <input type="text" name="s_g3" class="form-control" value="{{ data.g3.value }}"
                                   placeholder="{{ data.g3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>B1</td>
                    <td>
                        <div>
                            <input type="text" name="s_b1" class="form-control" value="{{ data.b1.value }}"
                                   placeholder="{{ data.b1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>B2</td>
                    <td>
                        <div>
                            <input type="text" name="s_b2" class="form-control" value="{{ data.b2.value }}"
                                   placeholder="{{ data.b2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
                <tr>
                    <td>B3</td>
                    <td>
                        <div>
                            <input type="text" name="s_b3" class="form-control" value="{{ data.b3.value }}"
                                   placeholder="{{ data.b3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!--project score -->
        <table class="table table-bordered">
            <caption>CIS Project Score Award Criteria</caption>
            <tr>
                <td colspan="2">Suggestion Level</td>
                <td colspan="2">Project Score</td>
            </tr>
            <tr>
                <td>Suggestion Level</td>
                <td>Focus Point</td>
                <td>Report Type</td>
                <td>Project Score</td>
            </tr>
            <tr>
                <td>S</td>
                <td rowspan="3">Waste Elimination</td>
                <td>Suggestion</td>
                <td>
                    <div>
                        <input type="text" name="p_s" class="form-control" value="{{ data.s.value }}"
                               required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>PSR</td>
                <td>
                    <div>
                        <input type="text" name="p_p" class="form-control" value="{{ data.p.value }}"
                               required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>K</td>
                <td>Kaizen</td>
                <td>
                    <div>
                        <input type="text" name="p_k" class="form-control" value="{{ data.k.value }}"
                               required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>G</td>
                <td rowspan="2">Reduce Variation</td>
                <td>DMAIC/DMADOV(6Sigma Tools Number<10)</td>
                <td>
                    <div>
                       <input type="text" name="p_g" class="form-control" value="{{ data.g.value }}"
                              required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>B</td>
                <td>DMAIC/DMADOV(6Sigma Tools Number>=10)</td>
                <td>
                    <div>
                       <input type="text" name="p_b" class="form-control" value="{{ data.b.value }}"
                              required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
        </table>
        <!--CIS Score Distribution Chart-->
        <table class="table table-bordered">
            <caption>CIS Score Distribution Chart</caption>
            <tr>
                <td>Suggestion Level</td>
                <td colspan="3">Total CIS Score</td>
                <td>Suggestion Inintialor</td>
                <td>Project Leader</td>
                <td>Project Major Participator</td>
                <td>Project Minior Participator</td>
            </tr>
            <tr>
                <td>S</td>
                <td rowspan="5">Golden Score</td>
                <td rowspan="5">Project Score</td>
                <td rowspan="5">Targeted Incentive Score</td>
                <td>
                    <div>
                        <input type="text" name="ini_s" class="form-control"
                               value="{{ data.s.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="lea_s" class="form-control"
                               value="{{ data.s.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="maj_s" class="form-control"
                               value="{{ data.s.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="min_s" class="form-control"
                               value="{{ data.s.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <div>
                        <input type="text" name="ini_p" class="form-control"
                               value="{{ data.p.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="lea_p" class="form-control"
                               value="{{ data.p.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="maj_p" class="form-control"
                               value="{{ data.p.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="min_p" class="form-control"
                               value="{{ data.p.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>K</td>
                <td>
                    <div>
                        <input type="text" name="ini_k" class="form-control"
                               value="{{ data.k.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="lea_k" class="form-control"
                               value="{{ data.k.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="maj_k" class="form-control"
                               value="{{ data.k.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="min_k" class="form-control"
                               value="{{ data.k.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>G</td>
                <td>
                    <div>
                        <input type="text" name="ini_g" class="form-control"
                               value="{{ data.g.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="lea_g" class="form-control"
                               value="{{ data.g.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="maj_g" class="form-control"
                               value="{{ data.g.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="min_g" class="form-control"
                               value="{{ data.g.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
            <tr>
                <td>B</td>
                <td>
                    <div>
                        <input type="text" name="ini_b" class="form-control"
                               value="{{ data.b.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="lea_b" class="form-control"
                               value="{{ data.b.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="maj_b" class="form-control"
                               value="{{ data.b.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
                <td>
                    <div>
                        <input type="text" name="min_b" class="form-control"
                               value="{{ data.b.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
                    </div>
                </td>
            </tr>
        </table>
        <!-- CIS Score Release Time Point Chart-->
        <table class="table table-bordered">
            <caption>CIS Score Release Time Point Chart</caption>
            <tr>
                <td rowspan="2">Suggestion Level</td>
                <td colspan="3">Golden Score Release Percentage</td>
                <td colspan="3">Project Score Release Percentage</td>
                <td>Targeted Incentive Score Release Percentage</td>
            </tr>
            <tr>
                <td>Project Closed</td>
                <td>Tracked 3 Month</td>
                <td>Tracked 6 Month</td>
                <td>Project Closed</td>
                <td>Tracked 3 Month</td>
                <td>Tracked 6 Month</td>
                <td>Project Closed</td>
            </tr>
            <tr>
                <td>S</td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>100%</td>
            </tr>
            <tr>
                <td>P</td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>100%</td>
            </tr>
            <tr>
                <td>K</td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>100%</td>
            </tr>
            <tr>
                <td>G</td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>100%</td>
            </tr>
            <tr>
                <td>B</td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>
                    <input type="text" name="" value=""
                           class="form-control" pattern="[0-9]+.?[0-9]*">
                </td>
                <td>100%</td>
            </tr>
        </table>

        <input type="submit" class="btn btn-success">
    </form>
    <hr>
</div>

<!--before>
<div style="margin-top: 80px">
<form action="" method="post">
    <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">

    <div class="container-fluid">
        <div class="form-group">
        <div><p>golden type rules</p></div>

        <div class="row col-md-2">
            <div class="input-group">
            <span class="input-group-addon">S1</span>
            <input type="text" name="s_s" class="form-control" value="{{ data.s1.value }}"
                   placeholder="{{ data.s1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
         <div class="input-group">
            <span class="input-group-addon">P1</span>
            <input type="text" name="s_p" class="form-control" value="{{ data.p1.value }}"
                   placeholder="{{ data.p1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">K1</span>
            <input type="text" name="s_k" class="form-control" value="{{ data.k1.value }}"
                   placeholder="{{ data.k1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
         <div class="input-group">
            <span class="input-group-addon">G1</span>
            <input type="text" name="s_g1" class="form-control" value="{{ data.g1.value }}"
                   placeholder="{{ data.g1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">G2</span>
            <input type="text" name="s_g2" class="form-control" value="{{ data.g2.value }}"
                   placeholder="{{ data.g2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">G3</span>
            <input type="text" name="s_g3" class="form-control" value="{{ data.g3.value }}"
                   placeholder="{{ data.g3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">B1</span>
            <input type="text" name="s_b1" class="form-control" value="{{ data.b1.value }}"
                   placeholder="{{ data.b1.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">B2</span>
            <input type="text" name="s_b2" class="form-control" value="{{ data.b2.value }}"
                   placeholder="{{ data.b2.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>
        <div class="row col-md-2">
        <div class="input-group">
            <span class="input-group-addon">B3</span>
            <input type="text" name="s_b3" class="form-control" value="{{ data.b3.value }}"
                   placeholder="{{ data.b3.value }}" required="required" pattern="[0-9]+.?[0-9]*">
        </div>
        </div>

         </div>
    </div>

    <div class="form-group" style="margin-top: 30px">
    <div class="container-fluid">
        <div><p>project rules and distribution</p></div>
        <div class="input-group">
            <span class="input-group-addon">S</span>
            <div class="row col-md-2">
                <input type="text" name="p_s" class="form-control" value="{{ data.s.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="ini_s" class="form-control" value="{{ data.s.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="lea_s" class="form-control" value="{{ data.s.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="maj_s" class="form-control" value="{{ data.s.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="min_s" class="form-control" value="{{ data.s.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">P</span>
            <div class="row col-md-2">
                <input type="text" name="p_p" class="form-control" value="{{ data.p.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="ini_p" class="form-control" value="{{ data.p.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="lea_p" class="form-control" value="{{ data.p.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="maj_p" class="form-control" value="{{ data.p.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="min_p" class="form-control" value="{{ data.p.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">K</span>
            <div class="row col-md-2">
                <input type="text" name="p_k" class="form-control" value="{{ data.k.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="ini_k" class="form-control" value="{{ data.k.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="lea_k" class="form-control" value="{{ data.k.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="maj_k" class="form-control" value="{{ data.k.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="min_k" class="form-control" value="{{ data.k.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">G</span>
            <div class="row col-md-2">
                <input type="text" name="p_g" class="form-control" value="{{ data.g.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="ini_g" class="form-control" value="{{ data.g.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="lea_g" class="form-control" value="{{ data.g.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="maj_g" class="form-control" value="{{ data.g.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="min_g" class="form-control" value="{{ data.g.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">B</span>
            <div class="row col-md-2">
                <input type="text" name="p_b" class="form-control" value="{{ data.b.value }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="ini_b" class="form-control" value="{{ data.b.distribution[0] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="lea_b" class="form-control" value="{{ data.b.distribution[1] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="maj_b" class="form-control" value="{{ data.b.distribution[2] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
            <div class="row col-md-2">
                <input type="text" name="min_b" class="form-control" value="{{ data.b.distribution[3] }}" required="required" pattern="[0-9]+.?[0-9]*">
            </div>
        </div>
        <div class="input-group" style="margin-top: 20px"><input class="btn btn-success" type="submit"></div>
    </div>
    </div>
</form>
</div>
<-->
</body>
</html>