<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="Chrome=1,IE=Edge;IE=11;IE=10;IE=9"/>
    <title>CIS Bonus System</title>
</head>
<link rel="stylesheet" href="static/bootstrap.min.css">
<link rel="stylesheet" href="static/jquery-ui.css">
<script src="static/jquery.min.js"></script>
<script src="static/jquery-ui.min.js"></script>
<script src="static/bootstrap.min.js"></script>
<script src="static/jquery.form.js"></script>
<script src="static/poshytip/jquery.poshytip.min.js"></script>
<link rel="stylesheet" href="static/poshytip/tip-twitter/tip-twitter.css">

<style type="text/css">
    table tr:hover {background-color: #0180FE;color: #fff;cursor:hand;}
    th {text-align: center;background: #27AE60;color: white;vertical-align: middle!important;}
    td {text-align: center}
    caption {text-align: center;font-size: 18px}
    th,h4,label,p {font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu}
    a:link{color: black;}
    a:hover{color: white;text-decoration:none;}
    .site-notice {padding: 5px 0 ;text-align: center;background: #208d4e}
    marquee {color: linen;font-size: 16px}
    .site-header {background:#27AE60;}
    #search_name {text-align: center;font-size: 46px;color:white;font-family: 'Monotype Corsiva', 'Apple Chancery', 'URW Chancery L', cursive;}
    .form-group {color: #dff0d8;font-size: 20px;}
    .alert-success {font-size: 16px;}
    span {color: #eea236;}
    #copyright {font-size: 9px;color: #adadad;}
    #modal1 {margin-top: 120px;}
    #copyright {margin-bottom: 10px;margin-left: 10px;}
</style>

<body leftmargin=0 topmargin=0 oncontextmenu='return false' ondragstart='return false' onselectstart ='return false' onselect='document.selection.empty()' oncopy='document.selection.empty()' onbeforecopy='return false' onmouseup='document.selection.empty()'>
<div class="site-notice">
    <marquee behavior="" direction="">Welcome User From {{ request.remote_addr }}</marquee>
</div>

<header class="site-header jumbotron">
    <div class="container-fluid">
        <div id="search_name">
            Hallo,
            <br>
            Welcome to CIS Bonus Search Page
        </div>

    <div class="form-group">
        <form action="" method="post" class="col-xs-12" id="form1">
        <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">
        <div class="row col-md-6 col-md-offset-3">
            <div class="input-group">
            <input id="s" type="text" name="employee_name" placeholder="Enter Employee Name Or Id" class="form-control search clearable" required>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit" name="submit">Submit</button>
                <button class="btn btn-default" type="button" id="more" data-toggle="modal" data-target="#modal1">More</button>
            </span>
            </div>
        </div>
        </form>
    </div>

    </div>
</header>

<!--modal content-->
<div class="modal fade" id="modal1" role="form">
    <form action="" method="post" id="form2">
    <div class="modal-form row col-md-4 col-md-offset-4">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4>高级搜索选项</h4>
            </div>
            <!--主体-->
            <div class="modal-body">
                <input type="hidden" name="_crsf_token" value="{{ crsf_token() }}">
                    <div class="input-group-group">
                        <div>
                        <label>选择日期范围</label>
                        <input type="text" class="form-control" name="date_begin" id="date_begin_2" autocomplete="off" required>
                        <br>
                        <input type="text" class="form-control" name="date_end" id="date_end_2" autocomplete="off" required>
                        </div>
                    </div>
            </div>
            <!--脚部-->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-default" id="submit2">提交</button>
            </div>
        </div>
    </div>
    </form>
</div>

<!--generate summary report -->
{% if request.form.get('employee_name') %}
    {% if data2 %}
    <div class="container">
    <div class="alert alert-success">
    <b>Hello <span>{{ request.form.get('employee_name') }}</span>:</b>
    <br>
    <p>Thank you for your participation!</p>
    <p>感谢您的参与!</p>
    <br>
    <div class="table-responsive">
        <table border="1">
            <tr>
                <td><p>CIS Total Score <br>员工项目总积分</p></td>
                <td><p>Active Score <br>可用积分</p></td>
                <td><p>Inactive Score <br>暂不可用积分</p></td>
                <td><p>Invaild Score<br>无效积分</p></td>
            </tr>
            <tr>
                <td>{{ data2.get('a') }}</td>
                <td>{{ data2.get('b') }}</td>
                <td>{{ data2.get('c') }}</td>
                <td>{{ data2.get('d') }}</td>
            </tr>
        </table>
    </div>
    </div>
    </div>
    {% endif %}
{% endif %}

<!--表格生成-->
{% if data %}
     <div class="table table-responsive">
         <table class="table" id="score_matrix">
         <caption>{{ request.form.get('employee_name') }}'s Project Detail</caption>
             <tr>
             <th rowspan="2">项目编号</th>
             <th colspan="6">基本状况</th>
             <th colspan="3">释放状态</th>
             <th colspan="3">节点释放状态</th>
             </tr>
             <tr>
                 <th>角色代码</th>
                 <th>关闭日期</th>
                 <th>项目等级</th>
                 <th>项目积分</th>
                 <th>员工积分</th>
                 <th>分值无效？</th>
                 <th>已释放</th>
                 <th>未释放</th>
                 <th>无效</th>
                 <th>项目关闭时释放</th>
                 <th>追踪3月后释放</th>
                 <th>追踪6月后释放</th>
             </tr>
             {% for element in data %}
                 <tr>
                 {% for e in element %}
                     <td><a href="javascript:" class="ahover" title="{{ e }}">{{ e }}</a></td>
                 {% endfor %}
                 </tr>
             {% endfor %}
         </table>
     </div>
{% endif %}

<footer class="footer">
    <div class="container-fluid">
        <div id="copyright">All rights &copy; 2016- SHELDON CHEN</div>
    </div>
</footer>

<script>
    /*
    自动补全
     */
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}

    $(function() {
        function termPop(term) {
            return term.pop();
        }

    $("input#s").autocomplete({
        source: function (request, response) {
            //the GET method! use flask request.agrs.get('term')
            $.getJSON($SCRIPT_ROOT + "/api/user/",{term:request.term},response);
        }
    })
});
    /*
    表单处理ajax提交
     */
    $(function(){
        $('#form2').submit(function(){
            $(this).ajaxSubmit(function(){
            });
            $('#modal1').modal('hide');
            return false
        });
    });

    /*
    日期选择器
     */
    $(function(){
       $("#date_begin_2,#date_end_2").datepicker({dateFormat:"yy/mm/dd"})
    });

    /*
    悬浮提示
     */
    $(".ahover").poshytip({
        className: 'tip-twitter',
        showTimeout: 1,
        alignTo: 'target',
        alignX: 'center',
        offsetY: 5,
        allowTipHover: false,
        fade: false,
        slide: false
    });
</script>
</body>
</html>